@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --header-font: "Nunito", sans-serif;
  --title-font: "Pacifico", "cursive";
  --black-h: 0;
  --black-s: 0%;
  --black-l: 20%;
  --black: var(--black-h) var(--black-s) var(--black-l);
  --section-bg-two: 0 16% 94%;
  --body-color: 0 0% 47%;
}
ul,
li {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
}
a {
  text-decoration: none !important;
}

/* Navbar start  */
#Navigation {
  background-color: #804d4e;
}
.navigation {
  display: flex;
}
.navigation-item-area {
  display: inline-block;
  padding: 35px 20px 40px 0;
  color: white !important;
  font-family: var(--header-font);
  font-size: 22px;
}
.navigation-item-area-icon-serach {
  font-family: var(--header-font);
  padding: 45px 0 40px 14px;
  color: white !important;
  font-size: 18px;
}
.navigationPages i {
  font-size: 15px;
  transition: 0.25s ease-in-out;
}
.navigationPages:hover i {
  transform: rotate(180deg);
}
.submenu {
  position: absolute;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
  background-color: white;
}
.submenuItem-area {
  font-size: 17px;
  font-family: var(--header-font);
  padding: 7px 50px 0 20px;
  font-weight: 400;
  color: black !important;
}
.submenuItem {
  border-bottom: 1px solid hsl(var(--black) / 0.08);
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.submenuItem:hover {
  background-color: #804d4e;
}
.submenuItem:hover a {
  color: white !important;
}
.navigation-item:hover .submenu,
.navigation-item:focus .submenu,
.navigation-item:focus-within .submenu {
  max-height: 300px;
  border: 1px solid hsl(var(--black) / 0.3);
}
.basketCatrRegister ul {
  display: flex;
  justify-content: flex-end;
}
.basketCatrRegister ul li a i {
  color: white !important;
  font-size: 25px;
  margin-left: 30px;
  padding: 35px 20px 40px 0;
}
.cartCount {
  position: relative;
}
.cartCountItem {
  position: absolute;
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  left: 41.5px;
  bottom: 14.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #804d4e;
  font-weight: 500;
}
/* Mobil Navbar Start */
@media screen and (max-width: 1000px) {
  #navbar {
    display: none;
  }
  .basketCatrRegister ul li a i {
    color: white !important;
    font-size: 25px;
    margin-left: 30px;
    padding: 35px 0 40px 0;
  }
  .cartCountItem {
    position: absolute;
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    left: 42.5px;
    bottom: 13.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #804d4e;
    font-weight: 500;
  }
}
/* Mobil Navbar End */

/* navbar end */
/* main start */
.banerColor {
  background-color: hsl(var(--section-bg-two));
  border-radius: 5px 5px 10px 10px;
}
.baner {
  padding: 85px 90px;
  height: 100%;
}
.banerSubtitle {
  font-size: 24px;
  color: hsl(var(--black));
  font-weight: 500;
  font-family: var(--title-font);
}
.banerTitle {
  font-size: 48px;
  font-family: var(--header-font);
  font-weight: 900;
  color: hsl(var(--black));
}
.banerDesc {
  font-size: 18px;
  color: hsl(var(--body-color));
}
.bannerBtn {
  padding-top: 25px;
  position: relative;
  display: inline-block;
}
.bannerBtn a {
  font-size: 18px;
  text-align: center;
}
.btnShop {
  color: white;
  font-weight: 500;
  padding: 16px 22px;
  position: relative;
  z-index: 1;
  text-align: center;
  border: 1px solid transparent;
}
.banerShopBtn {
  background-color: #804d4e;
  border-radius: 35px;
}
.bannerBtn .btnArrowImg {
  position: absolute;
  right: -60px;
  bottom: -53px;
}
.banerImg {
  position: relative;
  padding: 45px 0;
}
.banerImg img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  text-align: center;
}
@media screen and (min-width: 280px) and (max-width: 991.5px) {
  .baner {
    text-align: center;
    padding: 80px 20px;
  }
  .baner h4 {
    font-size: 33px;
  }
  .baner h2 {
    font-size: 45px;
  }
}
.sentence {
  height: 100%;
  width: 100%;
}
.sentence img {
  width: 100%;
  height: 100%;
}
.specialProductContentHeader {
  font-size: 20px;
  font-family: var(--title-font);
  color: #804d4e;
}
.specialProductContentHeaderTitle {
  font-size: 25px;
  font-family: var(--header-font);
  font-weight: 800;
}
/* main Special Product header end */
/*main Special Product start*/
.productCard {
  transition: 0.2s;
  border-radius: 10px;
  border: 1px solid hsl(var(--black) / 0.09);
  box-shadow: -20px 10px rgba(0, 69, 172, 0.01);
  cursor: pointer;
}
.productCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.3s linear;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.productCartItem {
  padding: 15px 0 0 0;
  cursor: pointer;
  position: relative;
}
.productCartItem a {
  display: inline-block;
  transition: 0.2s linear;
  text-decoration: none;
  color: hsl(var(--body-color));
}
.productIcon i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 25px;
  bottom: 50px;
  font-size: 30px;
  transition: 0.3s;
  color: rgb(93, 248, 248);
}
.productCard:hover .productIcon i,
.productCard:hover img {
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
  transform: scale(1.2);
  cursor: pointer;
}
.prodictClearance {
  position: absolute;
  top: 10px;
  right: 25px;
  background-color: #804d4e;
  border-radius: 30px;
}
.prodictClearanceItem {
  font-size: 14px !important;
  font-family: var(--header-font);
  font-weight: 600;
  padding: 3px 10px;
  line-height: 1;
  text-align: center;
}
.productItemContent {
  padding: 15px 10px 30px 10px;
}
.productItemContent_item {
  color: black;
  font-size: 23px;
  font-weight: 600;
  font-family: var(--header-font);
}
.starIcom {
  color: #804d4e;
  font-size: 19px;
}
.productPrice s {
  color: #969696;
  font-weight: 400;
  font-size: 14px;
}
.productPrice {
  font-size: 18px;
  font-family: var(--header-font);
  font-weight: 600;
}
.btnProduct {
  background-color: #804d4e;
  color: white;
  padding: 8px 20px;
  border-radius: 50px;
  font-size: 17px;
  font-family: var(--header-font);
}
.btnProduct:hover {
  color: #804d4e;
  background-color: white;
  border: #804d4e 1px solid;
}
/*Main Special Product end*/
/*Main Special Product Category start*/
.specialCategoryItem li a {
  margin-right: 10px;
  background-color: #804d4e;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 18px;
  color: white;
  border: 1px solid #804d4e;
  transition: 0.3s linear;
}
/*Main Special Product Category End*/

/* ==========Testimonial Start============ */
.testimonial-section {
  padding-top: 60px;
}

.testimonial-thumb {
  border-radius: 3px;
  overflow: hidden;
  height: 100%;
}

.testimonial-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials-thumb-slider {
  height: 100%;
}

@media screen and (max-width: 1199px) {
  .testimonial-slider {
    margin-top: 20px;
  }
}
.testimonial-slider__icon {
  background-color: #804d4e;
  color: white;
  padding: 10px;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 50%;
  display: flex;
  line-height: 1;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 424px) {
  .testimonial-slider__icon {
    width: 40px;
    height: 40px;
  }
}

.testimonial-slider__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonial-slider__desc {
  font-size: 24px;
  font-style: italic;
  color: hsl(var(--black));
  font-family: var(--header-font);
  font-weight: 400;
  max-width: 550px;
  margin-bottom: 35px;
}

@media screen and (max-width: 767px) {
  .testimonial-slider__desc {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
  .testimonial-slider__details {
    text-align: center;
  }
  .slick-dots {
    text-align: center !important;
  }
  .testimonial-slider__icon {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 575px) {
  .testimonial-slider__desc {
    font-size: 18px;
    text-align: center;
  }
  .testimonial-slider__details {
    text-align: center;
  }
  .slick-dots {
    text-align: center !;
  }
}

.testimonial-slider__name {
  font-size: 20px;
  font-weight: 700;
  font-family: var(--header-font);
  color: hsl(var(--black));
  margin-bottom: 5px;
}

.testimonial-slider__designation {
  font-size: 16px;
  font-family: var(--header-font);
  font-weight: 400;
  color: hsl(var(--black));
}

.testimonial-slick-slider .slick-dots {
  text-align: left;
  margin-left: 5px;
  margin-top: 30px;
}

.slick-dots li {
  display: inline-block;
}

.slick-dots li button {
  background-color: #8158594f;
  width: 20px;
  height: 10px;
  border-radius: 40px;
  border: transparent;
  margin: 0 3px;
  text-indent: -9999px;
  transition: all 0.3s linear;
}

.slick-dots li.slick-active button {
  width: 20px;
  height: 10px;
  background-color: #804d4e;
}

.testimonial-three-slick-slider .slick-arrow {
  color: hsl(var(--black) / 0.6);
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.2s linear;
  position: absolute;
}

.testimonial-three-slick-slider .slick-arrow:hover {
  background-color: #804d4e;
  color: white;
}

@media screen and (max-width: 991px) {
  .testimonial-three-slick-slider .slick-arrow {
    width: 35px;
    height: 35px;
  }
  .blog-slider .slick-arrow i {
    font-size: 12px;
  }
  .testimonial-slider {
    margin-top: 20px;
  }
}

.testimonial-three-slick-slider .slick-next {
  top: 50% !important;
  right: 0 !important;
  transform: translate(-50%, -50%);
}

.testimonial-three-slick-slider .slick-prev {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*=========Testimonial End==========*/

/*=============Blog Start==============*/
.blogHeader {
  font-size: 20px;
  font-family: var(--title-font);
  color: #804d4e;
}
.blogHeaderTitle {
  font-size: 28px;
  font-family: var(--header-font);
  font-weight: 800;
}
.blogBody {
  background-color: #eeeaed;
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}
.blogContent {
  width: 100%;
  overflow: hidden;
}
.blogContent img {
  max-width: 100%;
}
.dayMonth {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  font-size: 25px;
  font-family: var(--header-font);
  font-weight: 600;
  max-width: 100px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  border: 8px solid rgb(255, 255, 255);
  background-color: #f2eded;
  color: hsl(var(--black));
}
.blogTitle {
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: var(--header-font);
  font-weight: 800;
}
.blogTitleItem {
  transition: 0.2s;
  color: black !important;
}
.blogTitle .blogTitleItem:hover {
  color: #804d4e !important;
  transition: 0.5s ease-in-out;
}
@media screen and (min-width: 280px) and (max-width: 875.5px) {
  .blogContent {
    text-align: center !important;
  }
}
/*=============Blog End==============*/

/*========Feature start===========*/
.feature {
  background-image: url(../Images/home-pages-img/feature-img.png);
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;
}
.feature::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #804d4e;
  z-index: -1;
  opacity: 0.9;
}
.featureItem {
  text-align: center;
}
.featureItem  img{
  margin-bottom: 15px;
}
.featureItem h5 {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-family: var(--header-font);
}
.featureItem h6 {
  color: white;
  font-size: 15px;
  font-weight: var(--header-font);
  font-weight: 500;
}

/*========Feature End===========*/

/*==============Main End=================*/

/*=================Footer Star==================*/
.footerImage {
  width: 250px;
}
.footerDescription {
  width: 80%;
  font-family: var(--header-font);
  font-size: 16px;
  color: #c9cacc;
}
.footerSocialMedia {
  background-color: #e2d9dc;
  border-radius: 15%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerIcon {
  color: #804d4e;
  font-size: 19px;
}
.footerName h4 {
  font-family: var(--header-font);
  font-weight: 700;
}
.footerPagesItem {
  color: #7c7c7c !important;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--header-font);
}
.footerSerach {
  max-width: 100%;
  position: relative;
}
.footerEmailAddress {
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  border: transparent;
  background-color: #f1eff2;
  color: #7c7c7c;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.8;
  line-height: 1;
  font-family: var(--header-font);
}
.footerButton {
  position: absolute;
  right: 13px;
  top: 7px;
  border-radius: 50px;
  height: 40px;
  width: 60px;
  color: white;
  border: transparent;
  background-color: #804d4e;
  font-size: 20px;
}
.footerSubscribeDesctriptionItem {
  font-family: var(--header-font);
  font-weight: 600;
  font-size: 18px;
  color: #7c7c7c;
}
.footerCopyright {
  font-family: var(--header-font);
  font-size: 17px;
  color: #7c7c7c;
  font-weight: 500;
}
/*============Footer End==============*/
